.custom-header {
    background-color: #da2d25;
    height: 70px;
    display: flex;
    align-items: center;
}

::ng-deep .mat-expansion-indicator:after {
    color: white;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-container p-button {
    margin-right: 8px; /* Ajusta el margen derecho según tus necesidades */
}

.acciones-cell {
    text-align: center;
  }

  .mat-header-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* Table's styles */
/* th,
td {
    overflow-wrap: break-word;
    width: 150px;
} */

.mdc-data-table__header-cell {
    color: #da2d25;
    font-weight: bold;
    text-transform: uppercase;
    /*text-align: left;*/
    background-color: rgb(230, 230, 230) !important;
}

.mat-form-field-infix {
    width: 100%;
}

.table-container {
    height: 400px;
    overflow-y: auto;
}

.mat-header-row,
.mat-row {
    display: flex;
}

.ramo-cell {
    min-width: 100px;
}

.area-cell {
    min-width: 150px;
}

.departamento-cell {
    min-width: 180px;
}

.codigo-cell {
    min-width: 100px;
}

.agente-cell {
    min-width: 100px;
}

.fechaValidez-cell {
    min-width: 180px;
}

.poliza-cell {
    min-width: 100px;
    text-align: center;
}

.cobertura-cell {
    min-width: 100px;
    text-align: center;
}

.fecha-creacion-cell {
    justify-content: center;
    min-width: 150px;
}

.rappel {
    min-width: 100px;
}

.link-style {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}