<div class="contenedor">
  <div class="row">
      <h1>Selecciona el producto</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <mat-form-field appearance="outline" color="warn" class="w-100">
          <mat-label>Producto</mat-label>
          <mat-select [formControl]="ramoControl" required>
            <mat-option *ngFor="let producto of producto" [value]="producto.Key"
              (onSelectionChange)="onselectionRamo(producto,$event)">
              {{producto.Key}} - {{producto.Value}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="ramoControl.hasError('required')">Por favor seleccione un producto</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-md-6">
        <mat-form-field appearance="outline" color="warn" class="w-100">
          <mat-label>Modalidad</mat-label>
          <mat-select [formControl]="modalidadControl" required>
            <mat-option *ngFor="let modalidad of modalidad" [value]="modalidad.Key"
              (onSelectionChange)="onselectionModalidad(modalidad,$event)">
              {{modalidad.Key}} - {{modalidad.Value}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="modalidadControl.hasError('required')">Por favor seleccione una modalidad</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <button class="botonCo" mat-raised-button color="warn"  [routerLink]="['formulario',ramoV,modalidadV]" [disabled]="modalidadControl.hasError('required')">
      <mat-icon>send</mat-icon>Cotizar</button>
  </div>
</div>
